{{!-- Social links list --}}
<div class="social-links">
	{{#if @site.facebook}}
	<a href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
	{{/if}}
	{{#if @site.twitter}}
	<a href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
	{{/if}}
	<a href="https://github.com/jmgilman" target="_blank" rel="noopener">{{> "icons/github"}}</a>
	<a href="https://www.linkedin.com/in/joshua-g-29083b5b/" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
	<a href="https://www.youtube.com/channel/UCmQFwnEzst0aO3Iy9o33pgg" target="_blank" rel="noopener">{{>
		"icons/youtube"}}</a>
</div><!-- .social-links -->